<div class="cabecalho.cont">
    <div style="display: flex; align-items: center; justify-content: space-between; margin: 1% 1%;">
    <div class="logo">
        <img class="logo-img" src="/static/Blu.jpg" alt="Logo"/>
    </div>
    <div>
        <button class="button_highlighted" onclick="window.location.href='/'">Início</button>
        <button class="button" onclick="window.location.href='/sobre'">Sobre</button>
        <button class="button" onclick="window.location.href='/contato'">Contato</button>
    </div>
</div>