<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
    {% include 'head.html' %}
    <head>
        <title>Dashboard</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        {% include 'cabecalho.html' %}
        
        {% include 'dash.html' %}

        <div class="footer" style="position: fixed; bottom: 0; width: 100%; background-color: white;"></div>
            <p style="text-align: center;">&copy; 2024. Gustavo A. Verneck & Guilherme de Melo & João Pedro Uliana. Todos os direitos reservados.</p>
        </div>

    </body>
</html>