<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
    <head>
        <title>Sobre o Web Dashboard</title>
    </head>
    <body>
        {% include 'cabecalho.html' %}
        
        <header>
            <h1 style="color: white;">Sobre o Web Dashboard</h1>
        </header>
        
        <main>
            <div style="height: 150px;"></div>

            <section>
                <p style="max-width: 600px; text-align: justify; color: white;">Este projeto foi criado por uma equipe de desenvolvedores apaixonados por tecnologia e inovação. Nosso objetivo é fornecer ferramentas úteis e eficientes para facilitar a gestão de informações e a tomada de decisões.</p>
            </section>
        </main>
        {% include 'footer.html' %}
    </body>
</html>